@import "./global";
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  text-align: center;
  height: 5rem;
  padding: 1rem 0;
  font-weight: bold;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 30px;
  justify-items: center;
}

.card {
  position: relative;
  // width: 185px;
  overflow: hidden;
  border-radius: 10px;
  // max-width: 400px;
  border: solid 1px rgb(245, 243, 243);
  padding: 1rem;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.012),
    0 22.3px 17.9px rgba(0, 0, 0, 0.018), 0 100px 80px rgba(0, 0, 0, 0.03);
  .card-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4rem;
    .avatar {
      height: 40px;
      width: 40px;
      background: #00c3ff;
      border-radius: 50%;
    }
    .info {
      margin-left: 1rem;
      .title {
        color: rgb(56, 56, 56);
        font-size: 1.1rem;
      }
      .instructor {
        font-weight: bold;
        color: #000;
      }
    }
  }
  .card-body {
    display: flex;
    margin-bottom: 3rem;

    .description {
      color: rgb(114, 114, 114);
      margin-left: 1.5rem;
      font-weight: 500;
      text-align: justify;
    }
  }
  .card-footer {
    display: flex;
    .footer-info {
      margin-left: 1.5rem;
      .full-date {
        span {
          font-weight: 599;
          color: grey;
          font-size: 0.8rem;
        }
      }
      .duration {
        font-style: italic;
        font-size: 0.8rem;
        font-weight: 400;
        color: grey;
      }
    }
  }
}
